/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: url('/images/theme/Hogwarts3.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Form Container */
form {
    background: #215f7c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    color: #fff;
}

h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.5) 4px 4px 6px;
}

label {
    display: block;
    font-weight: 500;
    margin: 10px 0 5px;
}

input {
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4da8da;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

select {
    background: rgba(255, 255, 255, 0.1);
    color: white; /* Text color */
    border: 1px solid #4da8da;
    padding: 10px;
    border-radius: 5px;
    width: -webkit-fill-available;
}

/* Change the background color of dropdown options */
select option {
    background-color: #003366; /* Dark blue background */
    color: white; /* Text color */
}

.hidden {
    display: none; /* Ensures the element is completely hidden */
}

input::placeholder {
    color: #ccc;
}

/* Payment Link */
a#paymentLink {
    display: block; /* Ensures margin auto works */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #1c3b4e;
    color: white;
    text-decoration: none;
    margin: 20px auto; /* Centers the link horizontally */
    width: 30%; /* Adjusts the width of the link */
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}


a#paymentLink:hover {
    background: #1e6091;
}

#generateQR {
    display: block; /* Ensures margin auto works */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #1c3b4e;
    color: white;
    text-decoration: none;
    margin: 20px auto; /* Centers the link horizontally */
    width: 30%; /* Adjusts the width of the link */
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

#qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#qrCodeContainer img {
    background: white;
    padding: 10px;
}

/* Submit Button */
button {
    width: 30%;
    background: #1c3b4e;
    color: white;
    border: none;
    padding: 12px;
    margin: 30px auto; /* Centers the button horizontally */
    display: block; /* Ensures margin auto works */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #1e6091;
}

/* Hidden Elements */
.hidden {
    display: none;
}

/* Responsive Design */
@media (max-width: 480px) {
    form {
        width: 95%;
    }
}

.snowflake {
    position: fixed;
    top: -20px;
    width: 30px;
    height: 30px;
    background-image: url(../images/theme/snowflake1.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite, rotate 6s linear infinite;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    z-index: -1;
}

@keyframes fall {
    from {
        transform: translateY(-10px);
        left: random(100vw);
    }
    to {
        transform: translateY(100vh);
        left: random(100vw);
    }
}


pointer-particles {
    position: fixed;
    z-index: 101;
}